*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg{
    width: 100vw;
    height: 100vh;
}

.button-bg{
    background-color: white;
    padding: 10px 20px; 
    border: 1px solid red;
    border-radius: 20px;
    margin-left: 5rem;
    margin-right: 5rem;
    transform: translate(1rem, 37rem);
}

button{
    margin: 1px 10px;
    padding: 10px 20px;
    border-radius: 20px;
}